<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties></properties>
	<settings>
		<!-- 开启二级缓存  默认值为true -->
		<setting name="cacheEnabled" value="true"/>
		<!--支持驼峰-->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<!--<typeAliases>-->
		<!--<package name="cn.sxt.vo"/>-->
	<!--</typeAliases>-->
	<!---->
	<!--<mappers>-->
		<!--<package name="cn.sxt.vo.*"/>-->
	<!--</mappers>-->

	<plugins>
		<plugin interceptor="cn.sxt.util.PageInterceptor"/>
	</plugins>
	<mappers>
		<mapper resource="cn/sxt/vo/user.mapper.xml"/>
		<mapper resource="cn/sxt/vo/dept.mapper.xml"/>
	</mappers>

</configuration>